.example-card {
    max-width: 400px;
    align-content: center;
    box-shadow: 0 9px 5px -1px #1897e1, 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);


  }
  
 .mat-card .mat-form-field {
   width:100%
 }